.row
  .column
    %p
      %h1 Categorias de artigo
      %small 
        %i Listagem de categorias de artigo 
.row
  .column
    = link_to '+ Adicionar nova categoria', new_article_category_path, class: 'ui button blue', data: { disable_with: t(:disable_with)}
.row
  .column
    .ui.segment
      = simple_form_for url_for, method: :get do |f|
        .fields
          .field.wide.two
            = f.input :by_code, label: "Por código", input_html: { name: :by_code, value: params[:by_code]}
          .field.wide.five
            = f.input :by_title, label: "Por título", input_html: { name: :by_title, value: params[:by_title]}
          .field.wide.four
            = f.input :by_category, label: "Por categoria", as: :select, include_blank: "Todos", input_html: { name: :by_category}, selected: params[:by_category]
          .field.wide.four
            = f.input :by_autor, label: "Por autor", as: :select, collection: ::Internal::User.authors.order(:name), include_blank: "Todos", include_blank: "Todos", input_html: { name: :by_autor}, selected: params[:by_autor]
          .field.wide.four
            = f.submit "Filtrar", name: nil, class: 'ui button green button-filter', data: { disable_with: t(:disable_with_button).html_safe}
.row
  .column
    %table.ui.table.celled
      %thead
        %tr
          %th Nome
          %th.collapsing Habilitada?
          %th.collapsing Visível no portal?
          %th.collapsing Somente para usuários?
          %th
      %tbody
        - if @article_categories.present?
          - @article_categories.each do |category|
            %tr
              %td= category.name
              %td= I18n.t("label.#{category.enable}").html_safe
              %td= I18n.t("label.#{category.portal_view}").html_safe
              %td= I18n.t("label.#{category.only_user}").html_safe
              %td.collapsing
                = link_to "<i class='write icon'></i>".html_safe, edit_article_category_path(category), title: I18n.t(:edit_title), class: 'ui button icon blue mini'
                = link_to "<i class='trash icon'></i>".html_safe, article_category_path(category), method: :delete, title: I18n.t(:trash_title),class: 'ui button icon red mini', data: { disable_with: t(:disable_with_button), confirm: t(:confirm)}
        - else
          %tr 
            %td{colspan: 5}
              %i Nenhuma categoria cadastrada.