= simple_form_for @article do |f|
  .field
    = f.input :category_ids, as: :select, input_html: { multiple: true, class: 'ui fluid dropdown search'}
  .field
    = f.input :title, input_html: { placeholder: "Digite o título do artigo"}
  .field
    = f.input :content
  .field
    = f.button :submit, data: { disable_with: t(:disable_with) }
    = link_to t(:back_button), users_path, class: 'ui button', data: { disable_with: t(:disable_with) }