!!!
%html
  %head
    %title Conteúdo Jurídico
    = csrf_meta_tags
    = stylesheet_link_tag    'portal/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'portal/application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/portal/header'
    .ui.grid.container
      .ui.divider.hidden
      = yield